<!DOCTYPE html>
<%= render '/refinery/html_tag' %>
  <% site_bar = render('/refinery/site_bar', :head => true) -%>
  <%= render '/refinery/head' %>
  <body>
    <%= site_bar -%>
    <%= render '/refinery/ie6check' if request.env['HTTP_USER_AGENT'] =~ /MSIE/ -%>
     <div id="page_container" class="container">
      <header id="header">
        <%= render '/refinery/header' -%>
      </header>
      <div class='row'><!-- main content -->
        <div class='eight columns'><!-- main div -->
          <section id="page">
            <%= yield %>
          </section>
        </div><!-- main div -->
        <div class='four columns' id='side-bar'><!-- sidebar -->

      <div class="twitter-widget">
        <!-- twitter code -->
        <a class="twitter-timeline" href="https://twitter.com/biandangnyc" data-widget-id="258636678862864384" width="297px" height="350px">follow @biandangnyc</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      </div><!-- widget -->
      <div class="facebook-widget">
        <!-- facebook code -->
        <div class="fb-like-box" data-href="http://www.facebook.com/biandang" data-width="297" data-show-faces="false" data-stream="true" data-header="false"></div>
      </div><!-- widget -->


        </div><!-- sidebar -->
      </div><!-- main content -->
      <footer>
        <%= render '/refinery/footer' -%>
      </footer>
    </div>
    <%= render '/refinery/javascripts' %>
  </body>
</html>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>